.center {
  margin: 0px;
  width: 30%;  
  padding: -290px;
  border-style:solid;
}
.center1 {
  margin: 0px;	 
  width: 30%;  
  padding: -290px;
  border-style:solid;
}

.center2{
	width:500px;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(50%,-285%);
	border-style:solid;	

}


div.fixed {
  position: fixed;
  bottom: 200;
  right: 0;
  width: 300px;
  border: 3px solid #00000 ;
}
